{% extends "./template/layout.html.twig" %}

{% block body %}
<div class = 'mt-4 bg-light'>
<div id="caja" class="shadow p-3 mb-5 bg-body rounded bg-light">
    <h3>Pruebas</h3>
    <div class="row bg-light">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <a href="http://127.0.0.1:3000/prueba/create"><button class="btn btn-outline-success mb-2">Agregar nueva prueba</button></a>
        </div>
            
    </div>
    
    <input class="form-control" type="text" placeholder="Search">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for variable in variables %}
            
                <tr>
                    <td> <input type="checkbox"/> <a href="http://127.0.0.1:3000/prueba/detail/1">{{variable.nombre|upper}}</a></td>
                    <td>{{variable.apellido|upper}}</td>
                    <td><button class="btn btn-danger">Del</button></td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
        <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/prueba/paginate/0">1</a></li>
        <li class="page-item active">
        <a class="page-link" href="http://127.0.0.1:3000/prueba/paginate/1">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/prueba/paginate/2">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>
<div>
</div>
{% endblock %}